<!DOCTYPE html>
<html>
  <head>
    <title>My Balance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  </head>
  <body>
    
  </body>
  <script src="/javascripts/app.js" />
</html>
